@use "./devices.scss";

$button-width: 200px;
$button-height: 30px;
$text-colour: whitesmoke;
$div-background-main: rgba(0, 0, 0, 0.55);
$div-background-border: rgba(101, 37, 212, 0.2);
$div-border: 2px gray solid;
$button-hover-colour: rgba(67, 81, 163, 0.55);
$div-box-width: 50vw;
$div-box-height: 800px;
$div-box-width-devices: 90vw;

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.contact {
  margin-top: 80px;
  width: $div-box-width;
  background-color: $div-background-border;
  border-radius: 12px;
  display: flex;
  align-content: center;
  justify-content: center;

  @include devices.phone {
    width: $div-box-width-devices;
    justify-content: center;
  }
  @include devices.tablet {
    width: $div-box-width-devices;
  }
  @include devices.tablet-landscape {
    width: $div-box-width-devices;
  }
  @include devices.laptop {
    width: $div-box-width-devices;
  }
  &__main {
    display: flex;
    justify-content: center;
    @include devices.phone {
      width: $div-box-width-devices;
      display: flex;
      align-content: center;
      flex-direction: column-reverse;
    }
    @include devices.tablet {
      width: $div-box-width-devices;
      display: flex;
      align-content: center;
      flex-direction: column-reverse;
    }
    @include devices.tablet-landscape {
      width: $div-box-width-devices;
    }
    @include devices.laptop {
      width: $div-box-width-devices;
    }
    &__panel {
      background-color: $div-background-main;
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: space-around;
      border: $div-border;
      margin: 30px;
      @include devices.phone {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        margin: 0px 30px 30px 30px;
      }
      @include devices.tablet {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        margin: 0px 30px 30px 30px;
      }

      &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        margin: 10px;

        &:hover {
          background-color: $button-hover-colour;
        }
        &__icon {
          color: $text-colour;
          display: flex;
          justify-content: center;
          font-size: 50px;
          @include devices.phone {
            font-size: 30px;
          }
        }
        &__btn {
          font-size: 30px;
          color: $text-colour;
          display: flex;
          justify-content: center;
          align-content: center;
          margin-left: 15px;
          margin-right: 15px;
          @include devices.phone {
            font-size: 15px;
          }
        }
      }
    }
    &__display {
      background-color: $div-background-main;
      margin: 30px 30px 30px 0px;
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      border: $div-border;
      color: $text-colour;
      @include devices.phone {
        margin: 30px;
      }
      @include devices.tablet {
        margin: 30px;
      }

      &--header {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-colour;
        font-size: 30px;
        margin-top: 30px;
      }
      &--para {
        margin: 20px;
        font-size: 22px;
        padding: 10px;
        border: $div-border;
        border-left: 0;
        border-right: 0;
        border-top: 0;
      }
      &__form {
        display: flex;
        height: 400px;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        @include devices.phone {
          margin: 15px;
        }
        & > input {
          border-radius: 12px;
          height: 30px;
          font-size: 30px;
          @include devices.phone {
            font-size: 20px;
          }
        }
        & > textarea {
          font-size: 20px;
          border-radius: 12px;
          text-align: center;
          resize: none;
          @include devices.phone {
            font-size: 12px;
          }
        }
        & > button {
          height: 50px;
          width: 150px;
          font-size: 30px;
          margin: 10px;
          border-radius: 12px;
          &:hover {
            background-color: $button-hover-colour;
            color: $text-colour;
            box-shadow: 0 4px 8px $div-background-main;
          }
        }
      }
    }
  }
}
