// Device sizes
$xs: 0; //None
$sm: 576px; //Phone
$md: 768px; //Tablet
$lg: 992px; //Tablet-Landscape
$xl: 1200px; //Laptop
$xxl: 1400px; //TV

@mixin phone {
  @media only screen and (max-width: $sm) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: ($sm + 1px)) and (max-width: $lg) {
    @content;
  }
}
@mixin tablet-landscape {
  @media only screen and (min-width: ($lg + 1px)) and (max-width: $xl) {
    @content;
  }
}
@mixin laptop {
  @media only screen and (min-width: ($xl + 1px)) and (max-width: $xxl) {
    @content;
  }
}
@mixin tv {
  @media only screen and (min-width: $xxl) {
    @content;
  }
}
